@model BarcodePermalinkViewModel

@{
    ViewBag.Title = "Barcode generation";
    ViewBag.MetaDescription = "Generate barcodes in 20 encodings simultaneously and export them in PDF, image or SVG.";
}

<style type="text/css">
    .barcodeDiv {
        width: 250px;
        margin: 5px auto;
    }
</style>

<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/barcode">Barcode</a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Barcode
            </h2>
            <small>Barcode generation in 20 encodings</small>
        </div>
    </div>
</div>

@if (Model != null)
{
    @Html.Raw((Html.AntCreateStandardPanel("hgreen", "Barcode generation summary",
"<div class='text-center'>" +
"<a style='display:none' class='pdfexportpage'>Download as PDF" + "</a>" +
"<p>" + "Created on: " + Model.DateCreated + "</p>" +
"<p>" + "Share this permalink: <a href='" + Context.Request.Url.ToString() + "' target='_blank'>" + Context.Request.Url.ToString() + "</a></p>" +
"<p>" + "<div class='addthis_sharing_toolbox'></div></p>" +
"<div>")))
}

@Html.Partial("_Addresses", new AddressViewModel()
{
    ButtonId = "btnBarcode",
    ButtonText = "Generate",
    DefaultDestinationAddress = Model?.Value,
    PanelTitle = "Enter value of the barcode",
    ShowAddressTextBox = true,
    Controller = nameof(Barcode),
    Action = nameof(BarcodeController.ReadBarcodePermalinkValues),
    PlaceholderText = "Enter text ..."
})

@*премахни display: none;*@
<div class="hpanel hgreen panel-collapse" style="display: none;">
    <div class="panel-heading text-center">
        <div class="panel-tools">
            <a class="showhide"><i class="fa fa-chevron-down"></i></a>
        </div>
        Advanced options
    </div>
    <div class="panel-body" style="display: none;">
        <p>          
        </p>
    </div>  
</div>

<div id="result" class="container-fluid">
    <div class="row">
        @foreach (BarcodeSymbology bs in Enum.GetValues(typeof(BarcodeSymbology)))
        {


            <div class='col-md-4'>
                @Html.Raw(Html.AntCreateStandardPanel("hgreen", bs.ToString(), "<div class='text-center'><div id='barcode" + bs.ToString() + "' class='barcodeDiv' data-type='" + bs.ToString() + "'></div></div>"))
            </div>



        }
    </div>

    <div class="k-info-colored">
        <blockquote>
            <p><strong>Important</strong></p>
            <p>If the value for a particular encoding you provide does not meet the expected length or character set, it is going to throw an error.</p>
        </blockquote>
    </div>

    <table id="barcodeTable" class="stripes" style="margin-top: 1.2em;">
        <tbody>
            <tr>
                <th>Symbology</th>
                <th>Character set</th>
                <th>Length</th>
                <th>Check digits</th>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Code_128" rel="nofollow">Code 39 (default)</a></td>
                <td>[A-Z]; [0-9]; [ - . $ / + % ]</td>
                <td>variable (avg. up to 20 chars)</td>
                <td>optional (Mod. 43)</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/Code_39#Full_ASCII_Code_39" rel="nofollow">Code39Extended</a></td>
                <td>ASCII (128 characters)</td>
                <td>variable</td>
                <td>optional (Mod. 43)</td>
            </tr>
            <tr>
                <td><a href="http://www.barcodeisland.com/code93.phtml" rel="nofollow">Code 93</a></td>
                <td>[0-9];[A-Z];[SPACE . + - / % $]</td>
                <td>variable</td>
                <td>2 check digits</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/Code_93" rel="nofollow">Code93Extended</a></td>
                <td>ASCII(128 characters)</td>
                <td>variable</td>
                <td>2 check digits</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/International_Article_Number_(EAN)" rel="nofollow">EAN-13</a></td>
                <td>numeric [0..9]</td>
                <td>12 usable digits</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/EAN-8" rel="nofollow">EAN-8</a></td>
                <td>numeric [0..9]</td>
                <td>7 usable digits</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/Universal_Product_Code" rel="nofollow">UPC-A</a></td>
                <td>numeric [0..9]</td>
                <td>11 usable digits (first is always 0)</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/Universal_Product_Code" rel="nofollow">UPC-E</a></td>
                <td>numeric [0..9]</td>
                <td>6 usable digits (first is always 0)</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/POSTNET" rel="nofollow">POSTNET</a></td>
                <td>numeric [0..9]</td>
                <td>variable</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="http://www.barcodeisland.com/code11.phtml" rel="nofollow">Code 11</a></td>
                <td>[0-9]; [-]</td>
                <td>variable</td>
                <td>1 or 2 based on length</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Code_128" rel="nofollow">Code128</a></td>
                <td>LATIN-1 (<a href="http://en.wikipedia.org/wiki/ISO/IEC_8859-1" rel="nofollow">ISO-8859-1</a>)</td>
                <td>variable</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Code_128" rel="nofollow">Code128A</a></td>
                <td>ASCII 00 to 95 (0-9, A-Z and control codes), special characters</td>
                <td>variable</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Code_128" rel="nofollow">Code128B</a></td>
                <td>ASCII 32 to 127 (0-9, A-Z, a-z), special characters</td>
                <td>variable</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="https://en.wikipedia.org/wiki/Code_128" rel="nofollow">Code128C</a></td>
                <td>ASCII 00-99 (encodes each two digits with one code)</td>
                <td>variable</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/GS1-128" rel="nofollow">GS1-128</a></td>
                <td>depending on Application Identifier</td>
                <td>variable</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/MSI_Barcode" rel="nofollow">MSImod10</a></td>
                <td>numeric [0..9]</td>
                <td>variable</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/MSI_Barcode" rel="nofollow">MSImod11</a></td>
                <td>numeric [0..9]</td>
                <td>variable</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/MSI_Barcode" rel="nofollow">MSImod1010</a></td>
                <td>numeric [0..9]</td>
                <td>variable</td>
                <td>1 check digit</td>
            </tr>
            <tr>
                <td><a href="http://en.wikipedia.org/wiki/MSI_Barcode" rel="nofollow">MSImod1110</a></td>
                <td>numeric [0..9]</td>
                <td>variable</td>
                <td>1 check digit</td>
            </tr>
        </tbody>
    </table>
    
</div>
<br />
<button class="k-button">test</button>
@section scripts {
    <script src="~/scripts/viewsjs/barcodeindex.js"></script>
    @if (!string.IsNullOrEmpty(Model?.Value))
    {
        <script>


            var barcodeDivs = $(".barcodeDiv");
            barcodeDivs.each(function (index) {
                var valToSet = $("#tbBarcodeValue").val();
                try {
                    var type = $(this).attr("data-type")
                    $(this).kendoBarcode({
                        width: 280,
                        height: 100,
                        value: "@Model.Value",
                        type: type,
                        background: "transparent"
                    });
                    $(this).append('<div style="min-width: 300px;"><button class="k-button" onclick="exportPdf(this)">Export pdf</button>&nbsp;<button class="k-button" onclick="exportImage(this)">Export image</button>&nbsp;<button class="k-button" onclick="exportSvg(this)">Export SVG</button></div>');
                }
                catch (e) {
                    console.log(e.message);
                    $(this).html('<p class="k-error-colored">' + e.message + '</p>');

                }

            });
        </script>
    }
    <script>            
            function exportPdf(sender) {
                debugger;
                var bc = $(sender).parents(".barcodeDiv").first();
                if (bc.length > 0) {
                    kendo.drawing.drawDOM(bc)
                        .then(function (group) {
                            return kendo.drawing.exportPDF(group, {
                                paperSize: "auto",
                                margin: { left: "1cm", top: "1cm", right: "1cm", bottom: "1cm" }
                            });
                        })
                        .done(function (data) {
                            kendo.saveAs({
                                dataURI: data,
                                fileName: "barcode(toolsfornet.com).pdf",
                                proxyURL: "https://toolsfornet.com/export/pdf"
                            });
                        });
                }
            }
            function exportImage(sender) {
                var bc = $(sender).parents(".barcodeDiv").first();
                if (bc.length > 0) {
                    kendo.drawing.drawDOM(bc)
                        .then(function (group) {
                            // Render the result as a PNG image
                            return kendo.drawing.exportImage(group);
                        })
                        .done(function (data) {
                            kendo.saveAs({
                                dataURI: data,
                                fileName: "barcode(toolsfornet.com).png",
                                proxyURL: "https://toolsfornet.com/export/pdf"
                            });
                        });
                }
            }

            function exportSvg(sender) {
                var bc = $(sender).parents(".barcodeDiv").first();
                if (bc.length > 0) {
                    kendo.drawing.drawDOM(bc)
                        .then(function (group) {
                            // Render the result as a PNG image
                            return kendo.drawing.exportSVG(group);
                        })
                        .done(function (data) {
                            kendo.saveAs({
                                dataURI: data,
                                fileName: "barcode(toolsfornet.com).svg",
                                proxyURL: "https://toolsfornet.com/export/pdf"
                            });
                        });
                }
            }

            $("#barcodeTable").kendoGrid({
            });

    </script>
}