@model PingPermalinkViewModel

@{
    ViewBag.Title = "Speed test";
    ViewBag.MetaDescription = "Free distributed online upload/download speed service. Measure upload and download speed to various locations across the world.";
}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/speedtest">Speed test</a></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Speed test
            </h2>
            <small>Measure download and upload speed to various locations across the world simultaneously.</small>
        </div>
    </div>
</div>

@Html.Partial("_Addresses", new AddressViewModel()
{
    ButtonId = "btnSpeedTest",
    ButtonText = "Start speed test",
    ShowAddressTextBox = false
})

<div id="result"></div>

@section scripts {
     <script src="~/scripts/viewsjs/speedtestindex.js"></script>
}
