
<input type="button" id="btnDownload" class="k-button" value="Download" />
<input type="button" id="btnUpload" class="k-button" value="Upload" />

<input type="number" id="tbDownloadLength" />
<input type="text" id="tbDownloadResult" class="k-textbox" />

<div id="result"></div>

@section scripts {
    <script>

        //alert(performance.now());
        //alert(performance.timing);
        //alert(performance.timing.connectEnd);

        //var entr = performance.getEntries();
        
        //debugger;
        //for (var i = 0; i < entr.length; i++) {
        //    alert(entr[i].toString())
        //}

        function CreateRandomString(char) {
            var text = "";
            var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

            for (var i = 0; i < char; i++)
                text += possible.charAt(Math.floor(Math.random() * possible.length));

            return text;
        }

        $(document).ready(function () {
            $("#tbDownloadLength").kendoNumericTextBox({
               
            });

            $("#btnDownload").click(function btnDownloadClick() {
                var numerictextbox = $("#tbDownloadLength").data("kendoNumericTextBox");
                // use markes so performance.getEntriesByName is unique
                $("#result").append("downloadStart" + '<br />');
                for (var i = 3; i < 7; i++) {
                    $("#result").append("downloadStart" + i + '<br />');
                    var currentDownloadLength = Math.pow(10, i);    // 49
                    // 10 ^ 7 = 10 MB
                    var marker = new Date().getTime();

                    var downloadLength = numerictextbox.value();
                    $.ajax({
                        async: false,
                        url: "/speedtest/download?downloadLength=" + currentDownloadLength + "&marker=" + marker,
                        beforeSend: function myfunction() {
                            sessionStorage.setItem("start", performance.now());
                            
                        },
                        success: function f(stringWithTicks) {
                            var start = sessionStorage.getItem("start");
                            var now = parseInt(performance.now());
                            var diff = now - start;
                            $("#result").append(diff + ' download of ' + currentDownloadLength + '<br />');

                            //var performanceLastRequest = performance.getEntriesByName(location.origin + this.url);
                            //var timeInMilliseconds = performanceLastRequest[0].responseEnd - performanceLastRequest[0].responseStart;
                            //$("#result").append(timeInMilliseconds + ' download of ' + currentDownloadLength + '<br />');
                        }
                    })
                }

               
            });



            $("#btnUpload").click(function btnUploadClick() {
                $("#result").append("uploadStart" + '<br />');

                var numerictextbox = $("#tbDownloadLength").data("kendoNumericTextBox");

                
                for (var i = 3; i < 7; i++) {
                    $("#result").append("uploadStart" + i + '<br />');
                    var currentDownloadLength = Math.pow(10, i);    // 49

                    // use markes so performance.getEntriesByName is unique
                    var marker = new Date().getTime();


                    var uploadString = CreateRandomString(currentDownloadLength);
                    $.ajax({
                        async: false,
                        method: "POST",
                        url: "/speedtest/upload?marker=" + marker,
                        data: { uploadString: uploadString },
                        beforeSend: function myfunction() {
                            sessionStorage.setItem("start", performance.now());

                        },
                        success: function f(id) {
                            var start = sessionStorage.getItem("start");
                            var now = parseInt(performance.now());
                            var diff = now - start;
                            $("#result").append(diff + ' download of ' + currentDownloadLength + '<br />');
                            //$("#result").append(' upload of ' + currentDownloadLength + '<br />');
                            //var performanceLastRequest = performance.getEntriesByName(location.origin + this.url);
                            //var timeInMilliseconds = performanceLastRequest[0].responseStart - performanceLastRequest[0].requestStart;
                            //$("#result").append(timeInMilliseconds + ' upload of ' + currentDownloadLength + '<br />');
                        }
                    });
                }
            })

        });

    </script>
}
