@model string



<!-- START ROW -->

<div class="row">

    <!-- NEW COL START -->
    <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">


        <form role="form">

            <div class="form-group">
                <label class="control-label">IP or URL:</label>
                <div>
                    <input class="k-textbox form-control" placeholder="Enter IP or URL" type="text">
                </div>
            </div>


            <footer>
                <button type="submit" class="k-button">
                    Ping
                </button>
            </footer>
        </form>


    </article>
    <!-- END COL -->
    <!-- NEW COL START -->
    <!-- END COL -->

</div>
