@model string

<div id="content">


    <section id="widget-grid" class="">


        <div class="row">


            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


                <div class="jarviswidget no-padding well" id="wid-id-0">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-comments"></i> </span>
                        <h2>Widget Title </h2>

                    </header>


                    <div>


                        <div class="jarviswidget-editbox">

                            <input class="form-control" type="text">
                        </div>

                        <div class="widget-body">

                            <form role="form">

                                <div class="form-group">
                                    <label class="control-label" for="ip">IP or URL:</label>
                                    <div>
                                        <input class="k-textbox" id="ip" placeholder="Enter IP or URL" value="www.yahoo.com" type="text">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label" for="tbPacketsCount">Packets Count:</label>
                                    <div>
                                        <input id="tbPacketsCount" placeholder="Enter packets count" type="number" value="4" min="1" max="10">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="control-label" for="tbPacketsSize">Packet size in bytes:</label>
                                    <div>
                                        <input id="tbPacketsSize" placeholder="Enter MTU" type="number" min="1" max="65000">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="tbDelayBetweenPings">Delay between pings (ms):</label>
                                    <div>
                                        <input id="tbDelayBetweenPings" placeholder="Enter delay between pings" value="10" type="number" min="1" max="1000">
                                    </div>
                                </div>

                                
                                <div class="form-group">
                                    <label class="control-label" for="tbTTL">Time to Live:</label>
                                    <div>
                                        <input id="tbTTL" placeholder="Enter TTL" type="number" value="64" min="1" max="128">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <input type="checkbox" id="cbDontFragment" class="k-checkbox" checked="checked">
                                        <label class="k-checkbox-label" for="cbDontFragment">Don't Fragment</label>
                                    </div>
                                </div>



                                <footer>
                                    <input type="button" class="k-button" id="btnPing" value="Ping"/>
                                </footer>
                            </form>

                            <div id="example">
                                <div id="grid"></div>

                            </div>

                        </div>


                    </div>


                </div>


            </article>


        </div>



        <div class="row">


            <div class="col-sm-12">

            </div>

        </div>



    </section>


</div>


@section pagespecific {
    <script>
        $(document).ready(function () {

            $("#tbPacketsCount").kendoNumericTextBox({ format: "n0" });
            $("#tbTTL").kendoNumericTextBox({ format: "n0" });
            $("#tbPacketsSize").kendoNumericTextBox({ format: "n0", min: 1, max: 65000 });
            $("#tbDelayBetweenPings").kendoNumericTextBox({ format: "n0", min: 1, max: 1000 });
            $("#btnPing").click(function btnPingClick() {
                $('#grid').data('kendoGrid').dataSource.read();
                 
                $('#grid').show();
            });

            $('#grid').hide();

            $("#grid").kendoGrid({
                autoBind: false,
                dataSource: {
                    transport: {
                        read: { url: "/Ping/Read" },

                        parameterMap: function (data, type) {
                            if (type == "read") {
                                return {
                                    ip: $("#ip").val(),
                                    packetsCount: $("#tbPacketsCount").val(),
                                    packetsSize: $("#tbPacketsSize").val(),
                                    delayBetweenPings: $("#tbDelayBetweenPings").val(),
                                    ttl: $("#tbTTL").val(),
                                    df: $('#cbDontFragment').is(':checked')
                                }
                            }
                        }
                    },
                    schema: {
                        data: "Data",
                        model: {
                            fields: {
                                MaxRtt: { type: "number" },
                                MinRtt: { type: "number" },
                                AvgRtt: { type: "number" },

                                TxTimeInSeconds: { type: "number" },
                                TxBytesPerSecond: { type: "number" },
                                TxPacketsPerSecond: { type: "number" },

                                RxTimeInSeconds: { type: "number" },
                                RxBytesPerSecond: { type: "number" },
                                RxPacketsPerSecond: { type: "number" }
                            }
                        }
                    },
                    pageSize: 20,
                },
                sortable: true,
                columns: [{ field: "MaxRtt" },
                          { field: "MinRtt" },
                          { field: "AvgRtt" }
                          //,
                          //{ field: "TxTimeInSeconds" },
                          //{ field: "TxBytesPerSecond" },
                          //{ field: "TxPacketsPerSecond" },
                          //{ field: "RxTimeInSeconds" },
                          //{ field: "RxBytesPerSecond" },
                          //{ field: "RxPacketsPerSecond" }
                ]
            });
        });
    </script>
}
