@model TraceRouteReplyViewModel

@{
    ViewBag.Title = "TraceRoute";
}
<div class="normalheader transition animated fadeIn">

</div>
<div class="col-lg-12">
    <div class="hpanel hgreen">
        <div class="panel-body">
            <p>
                <input type="text" class="form-control" id="tbRraceRoute" value="@(Model != null ? Model.Ip : "facebook.com")" placeholder="Address">
            </p>
            <p>
                <button type="button" class="ladda-button btn center-block btn-outline btn-success" id="btnTraceRoute" data-style="zoom-in">
                    <span class="ladda-label">Trace Route</span>
                    <span class="ladda-spinner"></span>
                </button>

            </p>
        </div>
    </div>
</div>