@model TraceroutePermalinkViewModel

@{
    ViewBag.Title = "Traceroute";
    ViewBag.MetaDescription = "Free distributed online traceroute service. Display the route and measure transit delays of packets across an IP network";
}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/ping">Traceroute</a></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Traceroute
            </h2>
            <small>Display the route and measure transit delays of packets across an IP network</small>
        </div>
    </div>
</div>


@Html.Partial("_Addresses", new AddressViewModel()
{
    ButtonId = "btnTraceRoute",
    ButtonText = "Traceroute",
    DefaultDestinationAddress = Model?.DestinationAddress,
    PanelTitle = "Traceroute to an IP address or host name"
}
)
@section scripts {
    <script src="~/scripts/viewsjs/tracerouteindex.js"></script>
}
