@model string

@if (string.IsNullOrWhiteSpace(Model))
{
<div id="traceRouteResult">
    
<span class="k-textbox k-space-right" style="width: 100%;" >
    <input type="text" id="tbTraceRoute" value="www.wheather.com">
    <a href="#" id="btnTracerRoute" class="k-icon k-i-search">&nbsp;</a>
</span>
<div id="grid"></div>
<div id="map" style="width:500px;height: 300px"></div>

</div>
}
else
{
    @Html.Raw(Model);
}

@section pagespecific {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnTracerRoute").click(function tracert() {


                $('#grid').data('kendoGrid').dataSource.read().then(function (test) {
                    var pd = $('#grid').data('kendoGrid').dataSource._pristineData;
                    var pristineDataString = JSON.stringify(pd);
                    $.ajax({
                        method: "POST",
                        url: "/home/googlemap",
                        data: { models: pd },
                        success: function f(gmData) {
                            eval(gmData);
                            

                            var resultHtml = $("#traceRouteResult").html();
                            var resultHtmlBase64 = btoa(resultHtml);
                            debugger;
                            $.ajax({
                                method: "POST",
                                url: "/traceroute/saveresulthtml",
                                data: { resultHtmlBase64: resultHtmlBase64 },
                                success: function f(gmData) {
                                    debugger;
                                  




                                }
                            })


                        }
                    })

                   });

                $('#grid').show();


            });
            



            $('#grid').hide();

            $("#grid").kendoGrid({
                autoBind: false,
                dataSource: {
                    transport: {
                        read: { url: "/Traceroute/Read" },

                        parameterMap: function (data, type) {
                            if (type == "read") {
                                return {
                                    ip: $("#tbTraceRoute").val(),
                                }
                            }
                        }
                    },
                    schema: {
                        data: "Data",
                        model: {
                            fields: {
                                Hop: { type: "number" },
                                Rtt: { type: "number" },
                                AdressName: { type: "string" },
                                Ip: { type: "string" },
                            }
                        }
                    },
                    pageSize: 20,
                },
                sortable: true,
                columns: [{ field: "Hop" },
                          { field: "Rtt" },
                          { field: "AdressName" },
                          { field: "Ip" }
                ]
            });

            
        }
        );
    </script>
}