@{
    ViewBag.Title = "| Contact us";
    ViewBag.MetaDescription = "Send us an email. We want to hear from you. Tell us your suggestions and we will consider them.";
}
<div class="row text-center">
    <div class="col-lg-12 text-primary">
        <h1><span>Contact us</span></h1>
    </div>
</div>
<div class="">
    <div class="">
        <div class="p-xs">
            <form method="get" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label text-left" for="senderName">Sender's Name</label>
                    <div class="col-sm-11"><input type="text" class="k-textbox" placeholder="John Doe" id="senderName"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label text-left" for="senderMail">Sender's Email</label>
                    <div class="col-sm-11"><input type="text" class="k-textbox" placeholder="example@email.com" id="senderMail"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label text-left" for="subject">Subject:</label>
                    <div class="col-sm-11"><input type="text" class="k-textbox" placeholder="Enter Email subject" id="subject"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label text-left">Body:</label>
                    <div class="col-sm-11">@Html.Kendo().Editor().Name("emailBody").Deferred()</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label text-left"></label>
                    <div class="col-sm-11"><button class="k-button" id="btnSend">Send email</button></div>
                </div>
            </form>

        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSend").click(function btnSendClick(e) {
                e.preventDefault();
                var senderName = $("#senderName").val();
                var senderMail = $("#senderMail").val();
                var subject = $("#subject").val();
                var emailBody = $("#emailBody").val();
                $.ajax({
                    method: "POST",
                    url: '/contactUs/SendEmail',
                    data: {
                        senderName: senderName,
                        senderMail: senderMail,
                        subject: subject,
                        emailBody: emailBody
                    }
                });
            })
        });
    </script>
}