@{
    ViewBag.Title = "Contact us";
    ViewBag.MetaDescription = "Send us an email. We want to hear from you! Tell us your suggestions and we will consider them.";
}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="/contactus">Contact us</a></li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Contact us
            </h2>
            <small>Use the email form to contact us.</small>
        </div>
    </div>
</div>

<div class="" id="contactus">
    <div class="">
        <div class="p-xs">
            <form method="get" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label text-left" for="senderName">Sender's Name</label>
                    <div class="col-sm-11"><input type="text" class="k-textbox" placeholder="John Doe" required id="senderName"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label text-left" for="senderMail">Sender's Email</label>
                    <div class="col-sm-11"><input type="email" class="k-textbox"   required data-email-msg="Email format is not valid"  placeholder="example@email.com" id="senderMail"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label text-left" for="subject">Subject:</label>
                    <div class="col-sm-11"><input type="text" class="k-textbox" required placeholder="Enter Email subject" id="subject"></div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label text-left">Body:</label>
                    <div class="col-sm-11">@Html.Kendo().Editor().Name("emailBody").Deferred()</div>
                </div>
                <div class="form-group">
                    <label class="col-sm-1 control-label text-left"></label>
                    <div class="col-sm-11"><input type="submit" class="k-button" id="btnSend" title="Send email" value="Send email" /></div>
                </div>
            </form>

        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
    $(function () {
        var validator = $("#contactus").kendoValidator().data("kendoValidator");

        $("form").submit(function (event) {
            validator.validate();
        });
    });




        $(document).ready(function () {
            $("#contactus").submit(function btnSendClick(e) {
                e.preventDefault();
                var senderName = $("#senderName").val();
                var senderMail = $("#senderMail").val();
                var subject = $("#subject").val();
                var emailBody = $("#emailBody").val();
                $.ajax({
                    method: "POST",
                    url: '/contactus/sendemail',
                    data: {
                        senderName: senderName,
                        senderMail: senderMail,
                        subject: subject,
                        emailBody: emailBody
                    }
                });
            })
        });
    </script>
}