@{
    ViewBag.Title = "Free distributed network tools and services. Ping, traceroute, port scanner";
    ViewBag.MetaDescription = "Free distributed network tools and services. Ping, traceroute, port scannner and much more coming soon.";
}
<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Home
            </h2>
            <small>Distributed network services</small>
        </div>
    </div>
</div>
<section id="features2" class="landing-page icon-big">
    <div class="container">
        <div class="row text-center">
            <a href="~/ping" title="Ping">
                <div class="col-md-4">
                    <h3 class="m-t-lg">
                        <i class="pe-7s-sun text-success icon-big"></i>
                    </h3>
                    <strong>Ping</strong>
                    <p>Test the reachability of a host on an Internet Protocol (IP) network. Ping measures the round-trip time for messages sent from the originating host to a destination computer and echoed back to the source.</p>
                </div>
            </a>
            <a href="~/traceroute" title="Traceroute">
                <div class="col-md-4">
                    <h3 class="m-t-lg">
                        <i class="pe-7s-science text-success icon-big"></i>
                    </h3>
                    <strong>Traceroute</strong>
                    <p>Display the route (path) and measure transit delays of packets across an Internet Protocol (IP) network.</p>
                </div>
            </a>
            <a href="~/portscan" title="Port scan">
                <div class="col-md-4">
                    <h3 class="m-t-lg">
                        <i class="pe-7s-shuffle text-success icon-big"></i>
                    </h3>
                    <strong>Port scan</strong>
                    <p>Probe a server or host for open ports.</p>
                </div>
            </a>
        </div>

        <div class="row text-center">

            @*<a href="~/speedtest" title="Download/Upload speed">
            <div class="col-md-4">
            <h3 class="m-t-lg">
            <i class="pe-7s-cloud-download text-success icon-big"></i>
            <i class="pe-7s-cloud-upload text-success icon-big" style="margin-left:-76px"></i>
            </h3>
            <strong>Speed test</strong>
            <p>Measure your upload/download speed to various locations across the world.</p>
            </div>
            </a>*@
            <a href="~/faq" title="FAQs">
                <div class="col-md-4">
                    <h3 class="m-t-lg">
                        <i class="pe-7s-chat text-success icon-big"></i>
                    </h3>
                    <strong>FAQs</strong>
                    <p>List of frequently asked questions grouped by categories.</p>
                </div>
            </a>
            <a href="~/contactus" title="Contact us">
                <div class="col-md-4">
                    <h3 class="m-t-lg">
                        <i class="pe-7s-mail text-success icon-big"></i>
                    </h3>
                    <strong>Contact us</strong>
                    <p>Want to contact us? Use the email form. It takes less than a minute.</p>
                </div>
            </a>
        </div>

    </div>
</section>
<div class="normalheader transition animated fadeIn">
</div>
@*<div id="map" style="width:500px;height: 300px"></div>

@section scripts {
<script src="~/Scripts/viewsJS/homeIndex.js"></script>
}*@
