<div id="map" style="width:500px;height: 300px"></div>
@{
    ViewBag.Title = "| Home";
    ViewBag.MetaDescription = "Distributed network tools and services. Ping, traceroute, upload/download speed, port checker.";
}

@section scripts {

   
<script src="~/Scripts/viewsJS/homeIndex.js"></script>
}