<div id="map" style="width:100px;height: 200px">tet</div>


@section pagespecific {

    <script>
        $(window).ready(function test() {
            var myLatLng = { lat: 53.349443, lng: -6.260082 };

            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 4,
                center: myLatLng
            });

            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map,
                title: 'Hello World!'
            });

            $("#map").width("100%");


        });
    </script>
}