@{
    ViewBag.Title = "Home";
    ViewBag.MetaDescription = "Free distributed network tools and services. Ping, traceroute, upload/download speed, port scannner, DNS, WHOIS, reverse lookup and much more ...";
}

<section id="features2" class="landing-page icon-big">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-12 text-primary">
                <h1><span>Tools for Net</span></h1>
                <p><h2><span>Distributed network services</span></h2></p>
            </div>
        </div>
        <div class="row text-center">
            <a href="~/ping" title="Ping">
                <div class="col-md-4">
                    <h4 class="m-t-lg"><i class="pe-7s-sun text-success icon-big"></i></h4>
                    <strong>Ping</strong>
                    <p>Test the reachability of a host on an Internet Protocol (IP) network. Ping measures the round-trip time for messages sent from the originating host to a destination computer and echoed back to the source.</p>
                </div>
            </a>
            <a href="~/faq" title="FAQs">
                <div class="col-md-4">
                    <h4 class="m-t-lg"><i class="pe-7s-chat text-success icon-big"></i></h4>
                    <strong>FAQs</strong>
                    <p>List of frequently asked questions grouped by categories.</p>
                </div>
            </a>
            <a href="~/contactus" title="Contact us">
                <div class="col-md-4">
                    <h4 class="m-t-lg"><i class="pe-7s-mail text-success icon-big"></i></h4>
                    <strong>Contact us</strong>
                    <p>Want to contact us? Use the email form. It takes less than a minute.</p>
                </div>
            </a>
            @*<div class="col-md-4">
                <h4 class="m-t-lg"><i class="pe-7s-science text-success icon-big"></i></h4>
                <strong>Treaceroute</strong>
                <p>Treaceroute is diagnostic tool for displaying the route (path) and measuring transit delays of packets across an Internet Protocol (IP) network.</p>
            </div>
            <div class="col-md-4">
                <h4 class="m-t-lg"><i class="pe-7s-cloud-download text-success icon-big"></i></h4>
                <strong>Download speed</strong>
                <p>Measure client's download speed from various locations across the world.</p>
            </div>*@
        </div>
        @*<div class="row text-center">*@

            @*<div class="col-md-4">
                <h4 class="m-t-lg"><i class="pe-7s-cloud-upload text-success icon-big"></i></h4>
                <strong>Upload speed</strong>
                <p>Measure client's upload speed to various locations across the world.</p>
            </div>*@

            @*<a href="~/faq">
                <div class="col-md-4">
                    <h4 class="m-t-lg"><i class="pe-7s-cloud-upload text-success icon-big"></i></h4>
                    <strong>FAQs</strong>
                    <p>List of frequently asked questions grouped by categories.</p>
                </div>
            </a>

            <a href="~/contactus">
                <div class="col-md-4">
                    <h4 class="m-t-lg"><i class="pe-7s-cloud-upload text-success icon-big"></i></h4>
                    <strong>Contact us</strong>
                    <p>Want to contact us? Use the email form. It takes less than a minute.</p>
                </div>
            </a>*@

        @*</div>*@
    </div>
</section>
<div class="normalheader transition animated fadeIn">
</div>
@*<div id="map" style="width:500px;height: 300px"></div>

    @section scripts {
        <script src="~/Scripts/viewsJS/homeIndex.js"></script>
    }*@
