@{
    ViewBag.Title = "FAQs";
    ViewBag.MetaDescription = "Frequently asked questions grouped by categories regarding ping, traceroute, port scanner, upload/download speed distributed network services.";
}

<div class="normalheader transition animated fadeIn small-header">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/faq">FAQs</a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                FAQs
            </h2>
            <small>Frequently asked questions.</small>
        </div>
    </div>
</div>
<div class="content">

    <div class="row">
        <div>
            <div class="hpanel panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel-body text-center">
                    <h4 class="m-t-none m-b-none">Ping FAQs (4)</h4>
                    <small class="text-muted">Questions regarding
                        <a href="~/ping">ping tool</a>.</small>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q1" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        1. What protocol is used for ping probes?
                    </a>
                    <div id="q1" class="panel-collapse collapse">
                        <hr>We use TCP protocol for pings, NOT the ICMP protocol.
                    </div>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q2" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        2. Which TCP port is used for ping probes.
                    </a>
                    <div id="q2" class="panel-collapse collapse">
                        <hr>It depends on the ping destination address. There are two cases:
                        <ul>
                            <li>
                                The destination address is IP address. In this case we use the first open port.
                            </li>
                            <li>
                                The destination address is URL address. In this case we determine the port from the URL. If it begins with http we use
                                port 80, if it begins with https - 443, ftp - 21 and so on. If the URL does not have a prefix we use port 80.
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q3" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        3. How many ping probes are sent to the destination address?
                    </a>
                    <div id="q3" class="panel-collapse collapse">
                        <hr>We send exactly 5 probes to the destination address.
                    </div>
                </div>
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q4" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        4. How long is the delay between each ping probe.
                    </a>
                    <div id="q4" class="panel-collapse collapse">
                        <hr>The delay between each ping probe is exactly 50 milliseconds.
                    </div>
                </div>
                @*<div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q5" aria-expanded="true">
                <i class="fa fa-chevron-down pull-right text-muted"></i>
                5. How many locations are used simultaneously for ping.
                </a>
                <div id="q5" class="panel-collapse collapse">
                <hr>We use 10 locations distributed all over th
                </div>
                </div>*@
                @*<div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q6" aria-expanded="true">
                <i class="fa fa-chevron-down pull-right text-muted"></i>
                Lorem Ipsum is simply dummy ?
                </a>
                <div id="q6" class="panel-collapse collapse">
                <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
                </div>*@
                @*<div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q7" aria-expanded="true">
                <i class="fa fa-chevron-down pull-right text-muted"></i>
                The standard chunk of Lorem Ipsum used since ?
                </a>
                <div id="q7" class="panel-collapse collapse">
                <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
                </div>*@
                @*<div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q8" aria-expanded="true">
                <i class="fa fa-chevron-down pull-right text-muted"></i>
                Many desktop publishing ?
                </a>
                <div id="q8" class="panel-collapse collapse">
                <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
                </div>*@
                @*<div class="panel-body">
                <a data-toggle="collapse" data-parent="#accordion" href="#q9" aria-expanded="true">
                <i class="fa fa-chevron-down pull-right text-muted"></i>
                Cicero are also reproduced in their exact original form, accompanied ?
                </a>
                <div id="q9" class="panel-collapse collapse">
                <hr>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal.
                </div>
                </div>*@
            </div>
        </div>

    </div>

</div>