<footer class="footer">
    @*<span class="pull-right">
    Example text
    </span>
    Company 2015-2020*@
    <!-- nativeads 121590-toolsfornet.com-122870 start -->
    <!-- nativeads 121590-toolsfornet.com-122872 start -->
    <script type="text/javascript" src="//cpanel.nativeads.com/js/nativeads-121590-bd55d40e16105e62bae4fff67aad9b92de469426.js" async></script> <!-- nativeads 121590-toolsfornet.com-122872 end -->
</footer>
