<div class="color-line">
</div>
<div id="logo" class="light-version">
    <span>
        Tools for Net
    </span>
</div>
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
        <span class="text-primary">Tools for Net</span>              
    </div>   
    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav" style="font-size:xx-large">
                <li  title="Follow us on Facebook">
                    <a href="#" target="_blank"><i class="fa fa-facebook-square"></i> Follow us on Facebook</a>
                </li>
                <li title="Follow us on Twitter">
                    <a href="#" target="_blank"><i class="fa fa-twitter-square"></i> Follow us on Twitter</a>
                </li>
                <li title="Follow us on Google+">
                    <a href="#" target="_blank"><i class="fa fa-google-plus-square"></i> Follow us on Google+</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li title="Follow us on Facebook">
                <a href="#" target="_blank"><i class="fa fa-facebook-square" ></i></a>
            </li>
            <li title="Follow us on Twitter">
                <a href="#" target="_blank"><i class="fa fa-twitter-square" title="Follow us on Twitter"></i></a>
            </li>
            <li title="Follow us on Google+">
                <a href="#" target="_blank"><i class="fa fa-google-plus-square" ></i></a>
            </li>
        </ul>
    </div>
</nav>
