<div class="color-line">
</div><a href="/" title="Go to home page.">
    <div id="logo" class="light-version">
        <i class="pe-7s-home"></i>
        <span>
            Tools for Net
        </span>

    </div>
</a>
<nav role="navigation" class="light-version">
    <div title="Hide/Show left menu. Your choice is remembered accross all pages." class="header-link hide-menu">
        <i class="fa fa-bars"></i>
    </div>
    <div class="small-logo center-block text-center">

        <a href="/"><span class="text-primary text-center center-block"><i class="pe-7s-home"></i>&nbsp;Tools for Net</span></a>
    </div>
    <div class="mobile-menu">


        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>

        <div class="collapse mobile-navbar" id="mobile-collapse">

            <div class="addthis_horizontal_follow_toolbox"></div>
      
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">         
            <li>
                <script type="text/javascript" >
                    TrustLogo("https://toolsfornet.com/Content/img/comodo/comodo_secure_seal_76x26_transp.png", "CL1", "none");
                </script>
            </li>

            <li>
                <div class="addthis_horizontal_follow_toolbox"></div>
            </li>
            <li>
                <span> &nbsp; &nbsp; &nbsp;</span>
            </li>
        </ul>
    </div>
</nav>
