<div class="color-line">
</div>
<div id="logo" class="light-version">
    <span>
        Tools for Net
    </span>
</div>
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo center-block text-center">
        <span class="text-primary text-center center-block">Tools for Net</span>              
    </div>   
    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav" style="font-size:xx-large">
                <li title="Pdf">
                    <a class="pdfExportPage"><i class="fa fa-file-pdf-o"></i>Pdf</a>
                </li>
                <li>
                    <div class="addthis_horizontal_follow_toolbox"></div>
                </li>               
            </ul>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li title="Pdf">
                <a class="pdfExportPage"><i class="fa fa-file-pdf-o"></i></a>
            </li>
            @*<li title="Png">
                <a id="pngExportPage"><i class="fa fa-file-image-o"></i></a>
            </li>
            <li title="Svg">
                <a id="svgExportPage"><i class="fa fa-file-photo-o"></i></a>
            </li>
            <li title="Follow us on Facebook">
                <a href="#" target="_blank"><i class="fa fa-facebook-square" ></i></a>
            </li>
            <li title="Follow us on Twitter">
                <a href="#" target="_blank"><i class="fa fa-twitter-square" title="Follow us on Twitter"></i></a>
            </li>
            <li title="Follow us on Google+">
                <a href="#" target="_blank"><i class="fa fa-google-plus-square" ></i></a>
            </li>*@
            <li>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_horizontal_follow_toolbox"></div>
            </li>
            <li>
                <span> &nbsp; &nbsp; &nbsp;</span>
            </li>
        </ul>
    </div>
</nav>
