@Html.Raw((Html.AntCreateStandardPanel("hgreen", "Locate IP address", "<div class='text-center'>" +
"<p>" + "<input type='text' id='tbIp' name='tbIp' placeholder='Enter IP address' class='k-textbox' />" + "</p>" +
"<p>" + "<input type='button' id='btnLocateIp' value='Locate' class='k-button' />" + "</p>" +
"<div>")))

@section scripts {
    <script>
        $("#tbIp").keyup(function myfunction(eventData) {
            if (eventData.keyCode == 13) {
                $("#btnLocateIp").click();
            }

        });

        $("#btnLocateIp").click(function f() {
            var ip = $("#tbIp").val();
            window.location = window.location.origin + '/iplocation?ip=' + ip;
        });
    </script>
}