@model string
@{
    ViewBag.Title = "IP location";
    ViewBag.MetaDescription = "Free IP location service. Locate any IP address on a Google map.";
    Layout = null;
}
<script src="~/Scripts/googleAnalytics.js"></script>
<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoER6oaWJAUFMNCCE8IkCGsIyHsbTE0Zw"></script>
<style>
    body
    {
        padding: 0px;
        margin: 0px
    }
</style>

<div id="map" style="width:100px;height: 10px"></div>

    <script>
        $("#map").height($(window).height() - 1);
        $("#map").width($(window).width() - 1);
        if ('@Model'.length > 0) {
            setTimeout(function f() {
                $.ajax({
                    method: "POST",
                    url: "/home/getgooglemapsstring",
                    data: {
                        ip: '@Model'
                    },
                    success: function f(gmData) {
                        $("#map").height($("#wrapper").height());
                        eval(gmData);
                    }
                });
            }, 10);
        };

        $(window).resize(function () {
            $("#map").height($(window).height() - 1);
            $("#map").width($(window).width() - 1);
        });
      
    </script>
